/* line 8, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_mixins.scss */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* line 12, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_mixins.scss */
.message, .success {
  border: 1px solid #eeb5a1;
  padding: 10px;
  color: #333;
}

/* line 2, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_scaffolding.scss */
html,
body {
  height: 100%;
}

/* line 6, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_scaffolding.scss */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}

/* line 14, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_scaffolding.scss */
a {
  color: #333333;
}
/* line 18, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_scaffolding.scss */
a:hover, a:focus {
  color: #eeb5a1;
  text-decoration: none;
}

/* line 4, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h1,
h2,
h4 {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  line-height: 1.1;
  color: #333333;
}

/* line 12, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h1,
h2 {
  text-transform: lowercase;
}

/* line 16, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h1 {
  font-size: 4em;
}


/* line 19, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 22, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h3 {
  font-size: 1.3em;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  line-height: 1.1;
  color: #333;
}

/* line 25, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
h4 {
  font-size: 2em;
}

h5 {
    color: #eeb5a1;
}

/* line 30, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.home-text {
  color: white;
  padding: 10px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.15);
  margin: 20px 0;
  letter-spacing: 1px;
  font-weight: 200;
}

/* line 40, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.home-h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;    
}

/* line 40, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.home-h2 {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  /* line 49, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.home-h1 {
    font-size: 4.5em;
}

.portfolio-h1 {
    color: #eeb5a1;    
    }
    
.img-circle {
	width: 300px;
	height: 300px;
    object-fit: cover;
}
    
}
/* line 54, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.home-h1 > span {
  color: white;
}

/* line 58, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_typography.scss */
.lead {
  letter-spacing: 1px;
  margin-bottom: 60px;
}

/* line 1, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_navbar.scss */
.navbar-default {
  background-color: white;
  font-family: 'Josefin Slab', serif;
  text-transform: lowercase;
  border: none;
}

/* line 8, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_navbar.scss */
.navbar-default .navbar-brand {
  font-weight: 400;
  color: #eeb5a1;
  font-size: 2em;
}

/* line 14, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
/* line 17, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #eeb5a1;
}

/* line 1, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-theme, .btn-dark, .btn-cta, .btn-cta-o {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
  font-weight: 200;
  text-transform: lowercase;
  border-radius: 6btnpx;
  letter-spacing: 1px;
  padding: 15px 30px;    
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* line 12, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-dark-resume {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: #eeb5a1;
  color: #666666;
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
  font-weight: 200;
  text-transform: lowercase;
  border-radius: 6btnpx;
  letter-spacing: 1px;
  padding: 15px 30px;    
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;    
}

.btn-dark {
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: white;
  color: #666666;
} 

/* line 19, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-dark:hover, .btn-dark:focus {
  background: white;
  color: #eeb5a1;
}

/* line 25, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-cta {
  background-color: white;
  color: #eeb5a1;
}
/* line 31, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-cta:hover, .btn-cta:focus {
  background-color: #eeb5a1, 10%;
  color: white;
}

/* line 37, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-cta-o {
  color: white;
  border: 1px solid white;
}
/* line 43, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_buttons.scss */
.btn-cta-o:hover, .btn-cta-o:focus {
  background-color: white;
  color: #333333;
}

/* line 1, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_forms.scss */
.form-control {
  border-radius: 0;
  margin-bottom: 30px;
  font-size: 12px;
  color: #666666;
  background: white;
  transition: all 200ms ease-in;
}

/* line 10, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_forms.scss */
label {
  font-weight: 200;
}

/* line 14, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_forms.scss */
.form-control:focus {
  background: #f5f4f2;
  border-color: #eeb5a1;
}

/* line 1, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
#home {
  background-color: #eeb5a1;
  padding: 40px 0;
}

#portfolio {
    background-color: #f5f4f2;
}

#portfolio-page {
    background-color: white;
}

#footer {
  background-color: #eeb5a1;
}

/* line 42, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.color-reverse,
.color-reverse h2,
.color-reverse h3,
.color-reverse .icon
.color-reverse ul > li > a {
  color: white;
}

/* line 47, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.color-reverse .icon:before,
.color-reverse .icon:after {
  border-bottom-color: white;
}

/* line 53, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.section-padding {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* line 58, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.section-heading {
  margin-bottom: 40px;
}

/* line 63, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon {
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.42857;
  width: 130px;
  margin: 0 auto;
  position: relative;
  color: #eeb5a1;
}

/* line 74, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon:before,
.icon:after {
  display: inline-block;
  content: "";
  border-bottom: 1px solid #eeb5a1;
  position: absolute;
  top: 10px;
  width: 50px;
}

/* line 83, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon:before {
  left: 0;
}

/* line 87, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon:after {
  right: 0;
}

/* line 91, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon-bg {
  color: white;
}

/* line 96, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.icon-bg:before,
.icon-bg:after {
  border-bottom-color: white;
}

/* line 100, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.about-col .fa {
  width: 90px;
  height: 90px;
  line-height: 90px;
  color: #eeb5a1;
  border-radius: 50%;
  background-color: #f5f4f2;
}

/* line 109, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col {
  color: #eeb5a1;
}

/* line 113, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col h3 {
  color: #eeb5a1;
  margin-top: 0;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.75em;
}

/* line 121, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col p {
  color: #666666;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 2;
}

/* line 128, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col .fa {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #eeb5a1;
  border-radius: 35px;
  margin-bottom: 10px;
}

/* line 139, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.contact-hours .fa {
  color: #eeb5a1;
}

/* line 143, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.social-channels .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #eeb5a1;
  background-color: #f5f4f2;
  margin-bottom: 10px;
}

/* line 153, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.author {
  color: #eeb5a1;
  font-size: 1.1em;
}

/* line 158, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: auto;
}

/* line 164, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-wrap img {
  transition: all 200ms linear;
}

/* line 167, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 174, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 250ms linear;
}

/* line 185, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-wrap:hover .item-img-overlay span {
  opacity: 1;
}

/* line 188, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.item-img-wrap:hover img {
  transform: scale(1.1);
}

/* line 197, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.about-col,
.team-col,
.services-col,
.portfolio-col,
.facts-col,
.blog-col {
  margin-bottom: 40px;
}

/* line 201, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.blog-col span {
  color: #666666;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 208, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col {
  color: #eeb5a1;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 214, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
  .services-col {
    text-align: left;
  }
}
/* line 219, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.scrollToTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999;
  display: none;
  background: #333;
  opacity: 0.5;
  -webkit-transform: all 0.3s;
  -moz-transform: all 0.3s;
  transform: all 0.3s;
}

/* line 237, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}

/* line 243, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* line 251, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.parallax-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-color: #eeb5a1;
}

/* line 261, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
#home {
  padding: 160px 0;
  width: 100%;
  height: 100%;
}

/* line 267, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
#testimonials {
  background: url(../img/showcase-3.jpg);
  padding: 80px 0;
}

/* line 271, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
#services {
  background: url(../img/showcase-2.jpg);
  padding: 80px 0;
}

/* line 275, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
#facts {
  background: url(../img/showcase-5.jpg);
  padding: 80px 0;
}

/* line 280, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.main-flex-slider {
  overflow: hidden;
}

/* line 284, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.about-col .fa {
  width: 90px;
  height: 90px;
  line-height: 90px;
  color: #eeb5a1;
  border-radius: 50%;
  background-color: #f5f4f2;
  transition: 0.7s ease-in-out;
}

/* line 294, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.about-col:hover .fa {
  background-color: #eeb5a1;
  color: white;
  transform: rotateY(360deg);
}

/* line 300, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col .fa {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #eeb5a1;
  border-radius: 35px;
  margin-bottom: 10px;
  transition: 0.7s ease-in-out;
}

/* line 312, /Users/LuminouZ/Desktop/VMD142/quick/SCSS/_other.scss */
.services-col:hover .fa {
  background-color: #eeb5a1;
  color: white;
  transform: rotateY(360deg);
}

.portfolio-col {
    margin-bottom:0px;
    width:100%;
}

.portfolio-col-2{
    margin-bottom:70px;
    width:100%;
}

.portfolio-col .hover-bg{
    overflow:hidden;
    position:relative;
}

.hover-bg .hover-text{
    position:absolute;
    text-align:center;
    margin:0 auto;
    color:#333;
    background-color:rgba(255, 255, 255, .8);
    padding:18% 0;
    height:100%;
    width:100%;
    opacity:0;
    transition:all 0.5s;
}

.hover-bg .hover-text>h4{
    opacity:0;
    letter-spacing:2px;
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
    transition:all 0.4s;
}

.hover-bg:hover .hover-text>h4{
    opacity:1;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateY(0);
    transform:translateY(0);
}

.hover-bg .hover-text>i{
    opacity:1;-webkit-transform:translateY(0);
    transform:translateY(0);
    transition:all 0.4s;
}

.hover-bg:hover .hover-text>i{
    opacity:0;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
}

.hover-bg:hover .hover-text{
    opacity:1;
}

.hover-bg .line{
    background:#444 none repeat scroll 0 0;
    color:black;
    height:2px;
    text-align:center;
    width:66px;}
}

#works i.fa{
    height:30px;
    width:30px;
    font-size:20px;
    padding:5px;
    border-radius:50%;
    color:#555;
}


.hover-bg .hover-text>hr{
    opacity:1;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    transition:all 0.5s;
    
}

.hover-bg:hover .hover-text>hr{
    opacity:1;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.section-title.center{
    padding:30px 0;
    text-align:center;
}

.section-title h2,
.section-title.center h2{
    font-weight:300;
    color:#030303;
    font-size:26px;
    letter-spacing:2px;
    line-height:1.8;}

.section-title .line{
    border-top:1px solid #eeb5a1;
    height:10px;
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
}

.section-title p {
    color:#333;
    letter-spacing:1px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:0;
}

.space{
    margin-top:40px;
}




